Solitaire/Solitaire.xcodeproj/project.xcworkspace/xcuserdata/smitgandhi.xcuserdatad/UserInterfaceState.xcuserstate
Solitaire/Solitaire.xcodeproj/project.xcworkspace/xcuserdata/smitgandhi.xcuserdatad/UserInterfaceState.xcuserstate
